<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jenny Shin</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'portfolioApp/css/main.css' %}" >
        <link href="https://fonts.googleapis.com/css?family=Courgette|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <body>

    <div class="container-fluid" style="background-color:#ed7d31;color:#fff;height:200px">
      <h1>Hello World!</h1>
      <p>With passion in technology, I successfully opened a new chapter in life as a Full-Stack Developer after a decade of career experience in construction management. </p>
      <p>I am passionate about end-user focused programming and growing with continuously evolving technologies.</p>

    </div>

    <nav id="nav_bar" class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div class="container-fluid" style="height:1000px">
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
      <h1>Some text to enable scrolling</h1>
    </div>

    </body>

</html>
